*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.base{
    background-color: white;
    width: 100%;
    height: 200vh;
}

.container{
    width: 100%;
    height: 100vh;
    /* background-position: 50%; */
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bg-image-1{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)),
    url(../images/pexels-matheus-bertelli-2868242.jpg);
}

html {
    scroll-behavior: smooth;
  }

  body{
    background-color: #e8ecec;
  }