.container2{
    width: 100%;
    height: 200vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apartamento-menu{
    width: 920px;
    height: 825px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.pesquisa-menu{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mensagem{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-mensagem h4{
    color: gray;
    font-weight: 500;
    font-size: 28px;
    align-items: center;
    text-align: center;
}

.horizontal-line{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line img{
    width: 10%;
}

.mensagem-2 h5{
    color: gray;
    font-weight: 500;
    text-align: center;
}

.oapartamento{
    width: 100%;
    height: 455px;
    display: flex;
}

.container-oapartamento{
    width: 100%;
    height: 49%;
    background-color: #70a4a4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-oapartamento h2{
    font-weight: 500;
    color: white;
}

.container-oapartamento img{
    width: 30%;
}

.foto1{
    width: 100%;
    height: 51%;
}

.foto1 img{
    width: 100%
}

.foto2{
    display: flex;
}

.coluna1-apartamento{
    width: 30%;
    height: 100%;
}

.coluna2-apartamento{
    width: 645px;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.foto2{
    width: 100%;
    height: 49%;

}

.foto2 img{
    width: 100%;
}

.descricao-reserva{
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descricao-reserva h3{
    font-weight: 500;
    color: gray;
    font-size: 15px;
}

.container-btn{
    width: 70%;
    height: 10%;
    position: relative;
}

.btn-reserva{
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

.btn-reserva{
    width: 120px;
    height: 20px;
}

.btn-reserva a{
    color: #70a4a4;
    text-decoration: none;
}

.localizacao{
    width: 920px;
    height: 825px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 5%;
}

.box-linha1{
    width: 100%;
    height: 270px;
    background-color: aqua;
    display: flex;
}

.imagem1{
    width: 71%;
    height: 100%;
    background-color: rgb(61, 77, 77);
}

.imagem1 img{
    width: 100%;
}

.titulo-localizacao{
    width: 31%;
    height: 260px;
    background-color: #70a4a4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-localizacao img{
    width: 30%;
}

.titulo-localizacao h2{
    color: rgb(255, 255, 255);
    font-weight: 500;
}

