.container2{
    width: 100%;
    height: 200vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apartamento-menu{
    width: 979px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.pesquisa-menu{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mensagem{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-mensagem h4{
    color: gray;
    font-weight: 500;
    font-size: 28px;
    align-items: center;
    text-align: center;
}

.horizontal-line{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line img{
    width: 10%;
}

.mensagem-2 h5{
    color: gray;
    font-weight: 500;
    text-align: center;
}

.oapartamento{
    width: 100%;
    height: 536px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha-apartamento1{
    width: 100%;
    height: 261px;
    display: flex;
    
    
}

.linha-apartamento2{
    width: 100%;
    height: 276px;
    display: flex;
}

.titulo-apartamento{
    width: 330px;
    height: 100%;
    background-color: #70a4a4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-apartamento h2{
    font-weight: 500;
    color: white;
}

.titulo-apartamento img{
    width: 30%;
}

.foto1-apartamento{
    width: 649px;
    height: 100%;
}

.foto2-apartamento{
    width: 330px;
    height: 100%;
}

.descricao-apartamento{
    width: 649px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descricao-apartamento h4{
    color: gray;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    padding: 10px;
}

.btn-apartamento {
    margin-top: 50px;
}

.btn-apartamento a{
    padding: 6px;
}

.btn-apartamento a:hover{
    background-color: #70a4a4;
    color: white;
    transition: .5s;
}



.descricao-apartamento a{
    color:#70a4a4;
    text-decoration: none;
}