.bem-vindo{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bem-vindo p{
    font-size: 15px;
    color: white;
    padding: 20px;
}

.bem-vindo h1{
    color: white;
    font-size: 90px;
    font-family: 'Lancelot', cursive;
    font-weight: 400;
}

.guest{
    width: 250px;
    display: flex;
    align-items: center;
}

.guest img{
    width: 20%;
}

.btn-arrow{
    width: 100px;
    height: 100px;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-arrow i{
    color: white;
}

.btn-arrow i:hover{
    transform: scale(1.2);
    animation: arrow .6s infinite;
}

@keyframes arrow {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }